OLLAMA_PORT=11434
#TODO NEED AN HOST PORT AND TO USE IT TO CONFIGURE continue.dev and also the rest, since it could have reason to be changed, now are shared between container and host, and is prone to errors

WEBUI_PORT=8080
WEBUI_PORT_HOST=8083
WEBUI_ADMIN_EMAIL=youremail@example.local
WEBUI_ADMIN_PASSWORD=your-password
WEBUI_ADMIN_NAME=YourName
